body {
    background-color: black;
    width: 100%;
}

h3{
    color: rgb(252, 252, 252);
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

}

button{
    
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    font-size: 25px;
    font-style: bold;
    background-color: brown;
    color: aliceblue;
    border-radius: 100px;
    margin-top: 20px ;
    margin-left: 140px;
   

}